.heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading h1 {
    font-size: 24px;
    color: #333;
  }
  
  .formcontainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-input {
    position: relative;
  }
  
  button[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  